{% load static %}
<!DOCTYPE html>
<html>
  <head>
   
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/9dc3d003f7.js" crossorigin="anonymous"></script>
    <title>List items</title>
  </head>
<body>
<h1>List item's</h1>
  <button class="btn btn-outline-success my-2 my-sm-0" onclick="document.location='add_items'">Add</button>
  <form class="form-inline my-2 my-lg-0" method='post' action=''> {% csrf_token %}
    <main class="m-4 pb-5">
      {{form}}
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button></form> 
      
      {% for instance in queryset %}
<!--       <style> table, td {
  color: whitesmoke; background-color: blanchedalmond; }</style> -->
<table>  

<tr><td>{{instance.item_name}},</td>

  <td>{{instance.quantity}}</td></tr></table>  
  {% endfor %}
    </main>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>